<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.business.travel.app">

    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
            android:name=".BootApplication"
            android:allowBackup="true"
            android:fullBackupContent="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Application">
        <activity
                android:name=".ui.activity.my.WebTextActivity"
                android:exported="true"/>
        <activity
                android:name=".ui.activity.my.AboutMeActivity"
                android:exported="true"/>
        <activity
                android:name=".ui.activity.project.EditProjectActivity"
                android:exported="true"
                android:theme="@style/Theme.GreenHeader"/>
        <activity
                android:name=".ui.activity.log.ChangeLogActivity"
                android:theme="@style/Theme.GreenHeader"/>
        <activity android:name=".ui.activity.login.LoginActivity"/>
        <activity
                android:name=".ui.activity.bill.DetailBillActivity"
                android:theme="@style/Theme.GreenHeader"
                android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
                android:name=".ui.activity.item.member.EditMemberActivity"
                android:theme="@style/Theme.GreenHeader"/>
        <activity
                android:name=".ui.activity.item.AddItemActivity"
                android:theme="@style/Theme.GreenHeader"/>
        <activity
                android:name=".ui.activity.item.consumption.EditConsumptionActivity"
                android:theme="@style/Theme.GreenHeader"/>
        <activity android:name=".ui.activity.master.MasterActivity"/>
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.activity.bill.AddBillActivity"
                android:theme="@style/Theme.GreenHeader"
                android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity android:name=".ui.test.TestActivity"/>
    </application>

</manifest>